.moving-container {
    /* width: 100vw; */
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }
  
  .moving-track {
    display: flex;
    gap: 20px;
    animation: moveLeft 100s linear infinite;
    width: max-content; 
    /* Ensures smooth looping */
  }

  .moving-track-right-left {
    display: flex;
    gap: 20px;
    animation: moveRightToLeft 200s linear infinite;
    width: max-content; 
    /* Ensures smooth looping */
  }
  
  
  /* Animation for infinite scrolling */
  @keyframes moveLeft {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0%);
    }
  }

  @keyframes moveRightToLeft {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
  /* Pause animation on hover */
  .moving-track:hover  {
    animation-play-state: paused;
  }
  .moving-track-right-left:hover{
    animation-play-state: paused;
  }